$lt-gray: #ddd;
$background-dark: #FF8C00;
$background-light: #FF8C00;
$background-pale: #D1C4E9;

@mixin zero-margin($pad-up-down, $pad-left-right) {
    margin: 0px auto;
    padding: $pad-up-down $pad-left-right;
}

.footer{
    background-color: $background-dark;
    @include zero-margin(20px, 0px);
}
