$lt-gray: #ddd;
$background-dark: #FF8C00;
$background-light: #FF8C00;
$background-pale: #D1C4E9;


.login{
    background-color: $background-dark;
}
.login-button{
    background-color: $background-dark;
}