<mat-toolbar color="primary">
  <span><img src="/assets/images/icon_b3.png" height=30 width=41></span>
  <a mat-button routerLink="/home"><span class="fa fa-home fa-lg"></span> Home</a>
  <a mat-button routerLink="/articles"><span class="fa fa-list fa-lg"></span> Articles</a>
  <a mat-button routerLink="/post"><span class="fa fa-pencil-square fa-lg"></span> Post</a>
  
  <span class="flex-spacer"></span>
  <a *ngIf="!username" mat-button (click)="openLoginForm()"><span class="fa fa-sign-in fa-lg"></span> Login</a>
  <a *ngIf="username">{{username}}</a>
  <a *ngIf="username" mat-button (click)="logOut()"><span class="fa fa-sign-out fa-lg"></span> Logout</a>

</mat-toolbar>
  
  