$lt-gray: #ddd;
$background-dark: #FF8C00;
$background-moredark: #4527A0;
$background-light: #9575CD;
$background-pale: #D1C4E9;
$primary-color:        #FF8C00;

@mixin zero-margin($pad-up-down, $pad-left-right) {
    margin: 0px auto;
    padding: $pad-up-down $pad-left-right;
}
.body{
    min-height: 100%;
}
.jumbotron {
    @include zero-margin(70px,30px);
    background: $primary-color ;
    color:black;
    min-height: 595px;
}
.footer{
    background-color: $background-dark;
    
}
.footer-button{
    color:black;
}