<div class="container jumbotron"
    fxLayout="row"
    fxLayout.sm="column" 
    fxLayout.xs="column" 
    fxLayoutAlign.xs="start center"
    fxLayoutAlign.sm="start center" 
    fxLayoutAlign.gt-sm="center center" 
    fxLayoutGap="10px">

  <div fxFlex fxFlex.gt-sm="50%">
    <h1>Welcome To,<br>
        The Blogging Website</h1>
  </div>
</div>
<mat-toolbar color="primary">
  <span class="flex-spacer"></span>
  <a mat-button routerLink="/articles">Articles  <span class="fa fa-arrow-right fa-lg" ></span></a>
</mat-toolbar>